<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/test/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Midterm Project</title>
</head>

<body>
    <div id="wrapper">
        <!-- Header -->
        <header>
            <div class="inner-header container">
                <a href="~/Views/books/Index.cshtml" id="logo">MINHDANG</a>
                <nav>
                    <ul id="main-menu">
                        <li><a url=@Html.ActionLink("Home", "Index", "books")></a></li>
                        <li><a url=@Html.ActionLink("Add Student", "Create", "books")"></a></li>
                        <li><a url=@Html.ActionLink("About Project", "Index", "books")"></a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- End Header -->
        <!-- Banner Image -->
        <div id="banner"></div>
        <!-- End Banner -->
        <!-- Form student information -->
        @RenderBody();
        <!-- End form student information -->
        <!-- Footer -->
        <footer>
            <div id="current-time"></div>
            <p>&copy; 2023 @@MinhDang - 521H0497</p>
        </footer>
        <!-- End footer -->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script type="module"src="~/test/js/main.js"></script>
    
    <scriptsrc="~/test/js/main.js"></script>
    <!-- <script src="./js/add_student.js"></script> -->
</body>

</html>